---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Nikko Thorne" description="About Nikko Thorne Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/me/me-2.jpg"
					alt="Nikko Thorne"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Hello! I'm Nikko Thorne, a passionate creator with a diverse range of interests. 
						From silversmithing and crafting unique jewelry pieces to exploring the great outdoors 
						through kayaking and hiking, I find inspiration in every experience.<br>
					</p><br>

					<p>
						My love for video games fuels my creativity and technical skills, while my entrepreneurial
						spirit drives me to explore new business ventures.
					</p><br>
					<p>
						I believe in the power of continuous learning and collaboration, and I aim to infuse these
						values into everything I create. Welcome to my portfolio, where you can discover the intersection
						of my hobbies and professional journey!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						Bachelor of Science in Software Engineering<br>
						Western Governors University<br>
						[2024]<br><br>
						
						Associate of Applied Science in Information Technology<br>
						Columbia Basin College, Pasco, Washington<br>
						[2022]</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content"> 
					<h1 style="font-size: 30px; color: #000000;">Java</h1>
					<h1 style="font-size: 30px; color: #000000;">Python</h1>
					<h1 style="font-size: 30px; color: #000000;">React</h1>
					<h1 style="font-size: 30px; color: #000000;">MySQL</h1>
					</div>
				
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
